@import "sass-essentials";

.cc_banner-wrapper {
  z-index: 500;
  position: relative;
}

.cookieconsent {
  position: fixed;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  overflow: hidden;
  border: thin solid currentColor;
  border-radius: 0;
  padding: 1em 2em;
  background-color: rgba(255, 255, 255, 0.75);
  animation: fadeInBottom 0.5s both;

  &__message {
    margin-bottom: 0.5em;
  }

  &__link {}

  &__accept {}
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media print {
  .cc_banner-wrapper, .cookie {
    display: none;
  }
}
