{# Don't add the library the Compony way: {{ attach_library('compony/cookieconsent') }} #}
{# The cookie CSS is attached via config settings: /admin/config/system/cookieconsent #}
{# Path to custom CSS file: /themes/custom/compony/components/cookieconsent/dist/cookieconsent.css (include the first slash) #}

<div class="cookieconsent" role="alert">
  <p class="cookieconsent__message">{{message}} <a data-cc-if="options.link" target="{{ target }}" class="cookieconsent__link" href="{{ link }}" title="{{ learn_more }}">{{ learn_more }}</a></p>
  <a href="#null" data-cc-event="click:dismiss" target="_blank" class="cookieconsent__accept" title="{{ dismiss }}">{{ dismiss }}</a>
</div>
